@tailwind base;
@tailwind components;
@tailwind utilities;



*{
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}


/* In your global CSS file */
.bg-dashboard-gradient {
  /* background: linear-gradient(180deg, #FFFFFF 0%, #F1FBFF 100%); */
  background-color: white;
}


.scrollbar-hide::-webkit-scrollbar {
  display: none;
}

.scrollbar-hide {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}